body {
  background-color: rgb(138, 137, 153);
}

.info-wrapper {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 10%;
  min-height: 500px;
  padding-top: 20px;
  background-color: rgb(241, 231, 231);
}

.info-button {
  display: block;
  margin: 0 auto;
  background-color: rgb(55, 54, 63);
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  min-width: 200px;
  min-height: 30px;
}

.info-button:hover {
  background-color: rgb(49, 48, 55);
  cursor: pointer;
}
